.indexWrap{
  max-height: 558px;
  height: 558px;
}
.free{
  padding: 13.5px 52.5px;
  border-top-left-radius: 34px;
  border-bottom-right-radius: 34px;
}
.upload{
  background: $white;
  border: 2px dashed $gray;
  max-width: 417px;
  margin-right: 113px;
  height: 376px;
  @include d-pad{
    max-width: 100%;
    margin-right: 0;
    height: 567px;
  }
  @include d-phone{
    height: 384px;
  }
}

input[type="file"] {
  display: none;
}
.banner{
  &__grass{
    right: 0;
    bottom: -7%;
    z-index: 2;
    @include d-pad{
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
    }
   

  }
  &__plant{
    right: 19%;
    bottom: 0;
    z-index: 2;
    @include d-pad{
      right: 27%;
      bottom: 5%;
      z-index: 2;
      width: 19%;
    }
    @include d-phone{
      right: 18%;
      bottom: 14px;
      width: 24%;
    }
  }
  &__bag{
    right: 20%;
    bottom: -6px;
    z-index: 2;
    @include d-pad{
      right: 28%;
      bottom: 5%;
    
    }
    @include d-phone{
      right: 20%;
      bottom: 11px;
      width: 6.5%;
    }
  }
  &__person{

    &--1{
      right: 47%;
      bottom: 14px;
      z-index: 2;
      @include d-pad{
        bottom: 5%;
        right: 0;
        left: 4%;
        width: 34%;
      }
     
      }
      &--2{
        right: 27%;
        bottom: 0;
        z-index: 2;
        @include d-pad{
          right: 46%;
          bottom: 5%;
          width: 21%;
        }
        @include d-phone{
          right: 36%;
          bottom: 2%;
          width: 31%;
        }
      }
      &--3{
        right: 9%;
        bottom: 19px;
        z-index: 2;
        @include d-pad{
          width: 26%;
          right: 9%;
          bottom: 5%;
         
        }
        @include d-phone{
          right: 2%;
          bottom: 18px;
          width: 34%;
        }
      }
      &--4{
        right: 6%;
        bottom: 27%;
      }
  }

}

